.headerFull {
  position: sticky !important;
  top: 0px;
  z-index: 9999999;
  transition: all 0.3s ease-in-out;
}


header {
  /* height: 100px; */
  /* background-color: rgb(253, 246, 238); */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}



header .header-Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

header .header-Nav .part1 {
  width: 20%;
}

header .header-Nav .part2 {
  /* padding: 10px; */
  border: 1px solid #e0e0e0;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

header .header-Nav .part2 .searchcatitems{
  display: flex;
  border-right: 1px solid #e0e0e0;
}

header .header-Nav .part2 .searchcatitems .catitems{
  width: max-content;
  border: none;
  outline: none;
  background: none;
}

header .header-Nav .part2 svg {
  font-size: 30px;
  margin: 0px 10px !important;
}

header .header-Nav .part2 input {
  width: 100% !important;
}

header .header-Nav .part3 {
  width: 20%;
}

/* ---------------------------navbar ---------------------------------- */


/*  */

.navbar {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0px !important;
}

.navbar .menu .menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  transition: all 0.3s ease-in-out;

}

.navbar .menu {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: grab;
  user-select: none;
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 0px !important;
  justify-content: center;
  align-items: center;
}

.navbar .menu .menu-item .menu-name {

  display: inline-flex;
  align-items: center;
  padding: 20px 10px;
  /* cursor: pointer; */
  user-select: none;
  text-transform: uppercase;
}

.navbar .menu:active {
  cursor: grabbing;
}

/*  */

header .header-Nav .part3 .nav-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;
}


/* ================Menu sub Cat hover items====================== */


/*  */
.navbar .menu .menu-item .menu-subCat {
  position: absolute;
  right: 0;
  top: calc(100% + 0px);
  z-index: 999;
  width: 100%;
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  padding: 30px 20px 27px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-top: 5px solid #6d3500 !important;
  display: flex;
  justify-content: center;
  cursor: default;
}

.menu-item {
  cursor: pointer;
}

.arrowRotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.menu-item:hover .arrowRotate {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.menu-item.active {
  border-bottom: 5px solid #6d3500 !important;
  /* Example style */
}


/*  */

.navbar .menu .menu-item .menu-subCat .megamenu {

  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.navbar .menu .menu-item .menu-subCat .megamenu .mega-items {
  margin: 20px 20px !important;
}

.navbar .menu .menu-item:hover .menu-subCat {

  opacity: 1;
  visibility: visible;
  top: calc(100% + 0px);
}


.navbar .menu .menu-item .menu-subCat .mega-items1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px !important;
}

.navbar .menu .menu-item .menu-subCat .mega-items2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px !important;
}

.navbar .menu .menu-item .menu-subCat .mega-items .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .menu .menu-item .menu-subCat .mega-items .image img {
  width: 100%;
  object-fit: cover;
}


.navbar .menu .menu-item .menu-subCat .mega-items .items,
.image img {
  display: flex;
  flex-direction: column;
}

.navbar .menu .menu-item .menu-subCat .mega-items .items .items-name {

  padding: 10px 0px;
  text-transform: capitalize;
}

.navbar .menu .menu-item .menu-subCat .mega-items .items .items-name:hover {
  color: #6d3500 !important;
}

/*  */

.image-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  height: 80%;
  justify-content: center;
}

.image-text h3 {
  font-size: 20px !important;
  color: aliceblue !important;
}

.image-text h5 {
  font-size: 25px !important;
  color: aliceblue !important;
  text-transform: uppercase;
}

.image-text p {
  font-size: 12px !important;
  color: aliceblue !important;
  background-color: #ca6200;
  padding: 0px 20px;
  border-radius: 20px;
  margin: 10px;
  text-transform: capitalize;
}

/*  */

.navbar .menu .menu-item .menu-subCat .mega-items1 .image1 img {
  width: 200px;
  object-fit: cover;
  height: 100px;
}

/*  */

.image-text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 60%;
  margin: auto;
  height: 80%;
}

.image-text1 h3 {
  font-size: 15px !important;
  color: aliceblue !important;
}

.image-text1 h5 {
  font-size: 25px !important;
  color: aliceblue !important;
  text-transform: uppercase;
}


.image-text2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.image-text2 h3 {
  font-size: 20px !important;
  color: aliceblue !important;
}

.image-text2 h5 {
  font-size: 25px !important;
  color: aliceblue !important;
  text-transform: uppercase;
}

/*  */

.navbar .menu .menu-item .menu-subCat .mega-items3 .image2 img {
  width: 175px;
  object-fit: cover;
  height: 100px;
}

/*  */
.part3 .nav-icons .cart {
  position: relative;
}

.part3 .nav-icons svg {
  font-size: 30px;
}

.part3 .nav-icons .cart .cartContent {
  background-color: #ff0000;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 100%;
  position: absolute;
  top: -15px;
  right: -10px;

}

/* -------------------------------- */
.part3 {
  position: relative;
}

/* ------------------------ */

.part3 .account-hover {
  position: absolute;
  right: 50px;
  top: calc(100% + 10px);
  z-index: 999;
  width: max-content;
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  padding: 10px 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-top: 5px solid #6d3500 !important;
  display: flex;
  justify-content: center;
  cursor: default;
}


.part3 .nav-icons .nav-icon-account:hover .account-hover {

  opacity: 1;
  visibility: visible;
  top: calc(100% + 10px);
}

.searchcatitems .catitems{
  display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    background: none;
    width: max-content;
    position: relative;
}

.searchcatitems .catdropdown
{
  position: absolute;
    width: max-content;
    border: 1px solid #e0e0e0 !important;
    z-index: 1;
    background: #fff;
    padding: 10px;
    border-top: none !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    top: calc(100% + 1px);
    left: -1px;
}

.nav-icon-account img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}