.ship-cart .shipping .shipping-cont h2
{
    font-size: 30px !important;
    font-family: "Thasadith", sans-serif;
}

.ship-cart .shipping .shipping-cont p
{
    font-size: 18px !important;
}

.ship-cart .shipping h2{
    font-size: 35px !important;
    font-family: "Thasadith", sans-serif;
}